@import "tailwindcss";

* {
  font-family: Outfit;
}

.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 740px) {
  .active p {
    color: white;
    background-color: #336ecc;
  }
}
